body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: 300;
    padding: 5px;
    text-align: center;
    background: #3498db;
    color: white;
    font-size: 30px;
    border: 5px solid #f3f3f3;
}

h2 {
	font-weight: 300;
    padding: 5px;
    text-align: center;
    background: #3498db;
    color: white;
    font-size: 30px;
    border: 5px solid #f3f3f3;
}

div {
    background-color: rgb(189 0 0 / 86%);
    border: 5px solid rgb(82 2 2);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

p {
	background-color: aliceblue;
	border: chartreuse;
	padding: 5px;
	margin: 5px;
	color: black;
}

.flex-container {
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-item {
    background: #5673d3;
    width: 50%;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

img {
    background-color: rgba(211, 211, 211, 0.445);
    width: 300px;
    border: 10px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
    cursor: pointer;
  }

fieldset {
    border-color: lightgray;
    border-style: solid;
    padding: 15pt;
    margin-bottom: 1em;
    cursor: pointer;
}

body {
	/* background: #5673d3 url(./110699578-seamless-geometric-pattern-memphis-design-80s-and-90s-retro-style-abstract-fashion-background-vector.jpg) repeat-x; */
    background: grey;
	font: Normal 100% 'Droid Serif', serif;
	width: 100%;
}

button {
    border-radius:6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

legend {
    padding-right: .3em;
}

fieldset div {
    padding-bottom: .6em;
}

input[type] {
    margin-left: .5em;
}
input:focus {
    outline:none;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=search] {
    box-sizing: border-box;
    display: inline-block;
    border-width: 1px;
    border-color: lightgray;
}

input[type=number] {
    width: 4em;
    height: 2em;
}

.policytext p {
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.content {padding:20px;}

.policytext a {
    text-decoration: none;
}

.ordertotal {
    font-weight: bold;
}

/* ---------------- */

/* Give the user a hint that label is clickable */
label {
    cursor: pointer
}

/* Provide visual confirmation of the current field */
label:focus-within {
    color: blue;
}
/* Help users distinguish the field the mouse is over */
input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=password]:hover {
    border-color: darkblue;
    box-sizing: border-box;
    display: inline-block;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus {
    border-color: darkblue;
}

/* Make the highlighted access key stand out */
.accesskey {
    text-decoration: underline;
}
